- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


/ #two.banner
/   .center
/     .content
/       %img.banner{:alt => "", :src => "/images/banner-contact.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Contact Us Directly
          %p 
            5353 W Sam Houston Pkwy N #140
            %br
            Houston, TX 77041
            %br
            713-429-4369
            %br
            %a{:href => "mailto:customerservice@porteogroup.com"}customerservice@porteogroup.com
      

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Send Us Your Questions
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "960", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7x3a7/", :width => "100%", :border => "none"}       

