- @title = " | Consultation Services"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-about.jpg"}



.body
  .center
    .content
      .sidebar.right
                

      .main
        .content
          .section.no-image
            %h1 Consultation Services
            
            %a{:name => "overview"}
            .spacer
            %h4
              Overview
            %p
              With our Market Access Program, we develop customized solutions for market entry or for business expansion in Mexico or in the United States.
            %ul
              %li Analysis of your company in relation to US or Mexican market
              %li Cost fixing and export prices
              %li Research and identification of segments for your products
              %li Identification of commercial opportunities with potential importers, wholesalers and/or distributors
              %li Fairs and US Expositions information and advice
              %li Delivery of commercial samples
              %li Analysis for best commercial conditions
              %li Follow up of commercial export process till closing of sale

            %a{:name => "dt"}
            .spacer
            %h4
              U.S. Start-Up Business &amp; Office Management
            %p Porteo Group Logistics provides business address as well as office infrastructure to open a workplace in the U.S.
            %ul
              %li With PGL facilities, your office will be supported with all the services you may need for day-by-day business operations - phone, fax, internet access, meeting room, etc. 
              %li Warehouse with enough room in order to meet your storage needs
              %li Inventory control system
              %li Shipment planning to handle delivery requirements

          .spacer

