.font-helvetica, .main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial, .font-base, .subnav h1, .text h1, .form h1, .button h1, .subnav h3, .text h3, .form h3, .button h3, .link, .text p, .form p, .main .content .section h1, .main .content .main h1, .main .content .section h4, .main .content .main h4, .main .content .section p, .main .content .main p, .main .content .section ul li, .main .content .main ul li {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 4px;
  -khtml-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

.corner-top-right {
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 4px;
  -khtml-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.corner-top, .subnav h1, .text h1, .form h1, .button h1, .subnav h3, .text h3, .form h3, .button h3 {
  -moz-border-radius-topleft: 4px;
  -khtml-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.corner-right {
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 4px;
  -khtml-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.corner-left {
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.corner-all, .banner .center .content img.banner, .link h5, .button p.link, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .form, .button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.clearfix, .body, .body .center, .sidebar, .link, .main .content .section, .main .content .main, .container-setup, .subnav, .text, .form, .button, .columns, .spacer {
  zoom: 1;
}
.clearfix:before, .body:before, .body .center:before, .sidebar:before, .link:before, .main .content .section:before, .main .content .main:before, .container-setup:before, .subnav:before, .text:before, .form:before, .button:before, .columns:before, .spacer:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .body:after, .body .center:after, .sidebar:after, .link:after, .main .content .section:after, .main .content .main:after, .container-setup:after, .subnav:after, .text:after, .form:after, .button:after, .columns:after, .spacer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .banner .center, .body .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: transparent;
}

.box, .center-container, .banner .center, .body .center, .banner, .banner .center .content img.banner, .body, .sidebar, .subnav h1, .text h1, .form h1, .button h1, .subnav h3, .text h3, .form h3, .button h3, .link, .link p, .text p, .form p, .button p.link, .main, .main .content, .main .content .section, .main .content .main, .main .content .section img, .main .content .main img, .main .content .section h1, .main .content .main h1, .main .content .section h4, .main .content .main h4, .main .content .section p, .main .content .main p, .container-setup, .subnav, .text, .form, .button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.9 !important;
  filter: alpha(opacity=90) !important;
}

.contact-form, .form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe, .form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  font-weight: bold;
}

i {
  font-style: oblique;
}

.font-helvetica, .main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial, .font-base, .subnav h1, .text h1, .form h1, .button h1, .subnav h3, .text h3, .form h3, .button h3, .link, .text p, .form p, .main .content .section h1, .main .content .main h1, .main .content .section h4, .main .content .main h4, .main .content .section p, .main .content .main p, .main .content .section ul li, .main .content .main ul li {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 4px;
  -khtml-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

.corner-top-right {
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 4px;
  -khtml-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.corner-top, .subnav h1, .text h1, .form h1, .button h1, .subnav h3, .text h3, .form h3, .button h3 {
  -moz-border-radius-topleft: 4px;
  -khtml-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.corner-right {
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 4px;
  -khtml-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.corner-left {
  -moz-border-radius-topright: 4px;
  -khtml-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.corner-all, .banner .center .content img.banner, .link h5, .button p.link, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .form, .button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.banner .center {
  padding: 15px 0;
}
.banner .center .content {
@extent .box;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.banner .center .content img.banner {
  width: 960px;
  height: 205px;
  margin: 0;
  padding: 0;
  border: 1px solid #bcbec0;
}

.body {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.body .center {
  padding: 15px 0;
}
.body .center .content {
@extent .box;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.sidebar {
  position: relative;
  clear: none;
  width: 300px;
}

.sidebar.left {
  display: inline;
  float: left;
  margin: 0 30px 30px 0;
}

.sidebar.right {
  display: inline;
  float: right;
  margin: 0 0 30px 30px;
}

.subnav h1, .text h1, .form h1, .button h1, .form h1 {
  position: relative;
  color: #414042;
  width: 240px;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.subnav h3, .text h3, .form h3, .button h3, .form h3 {
  position: relative;
  color: #414042;
  width: 240px;
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  text-align: left;
}

.link {
  position: relative;
  width: 240px;
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 11px;
  border-bottom: 1px dotted #499ad6;
}
.link:last-child {
  border-bottom: none;
  margin-bottom: 15px;
}
.link h5 {
  display: block;
  position: relative;
  display: inline;
  float: left;
  clear: left;
  top: 5px;
  width: 7px;
  height: 7px;
  background: #d53927;
  font-size: 11px;
  text-align: center;
}
.link p {
  display: block;
  display: inline;
  float: left;
  clear: right;
  width: 200px;
  margin: 0;
  padding: 0 0 0 1em;
  font-size: 12px;
}
.link p a {
  font-size: 12px;
  color: #414042;
}
.link p a:hover {
  color: #d53927;
  text-decoration: none;
}

.text p, .form p {
  width: 240px;
  margin: 0 auto 15px;
  padding: 0;
  color: #58595b;
  font-size: 12px;
}
.text p:last-child, .form p:last-child {
  margin-bottom: 15px;
}

.button p.link {
  position: relative;
  width: 248px;
  margin: 0 auto 15px;
  padding: 0;
  color: #808285;
  text-align: center;
  background: white;
  border: 1px solid #e6e7e8;
}
.button p.link:hover {
  background: #fafafa;
}
.button p.link a {
  display: block;
  margin: 0;
  padding: 6px 2em 7px 2em;
  color: white;
  font-size: 11px;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
}

.form iframe {
  width: 240px;
  margin: 0 30px;
}

.main {
  position: relative;
  display: inline;
  float: left;
  width: 626px;
}
.main .content {
  position: relative;
  width: 626px !important;
}
.main .content .section, .main .content .main {
  position: relative;
  padding: 0 0 30px 0;
}
.main .content .section:last-child, .main .content .main:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.main .content .section img, .main .content .main img {
  display: inline;
  float: left;
  clear: left;
  margin: 0 15px 5px 0;
  border: 1px solid #bcbec0;
  z-index: 100;
}
.main .content .section h1, .main .content .main h1 {
  width: 511px;
  margin: 4px 0 10px 115px;
  padding: 0 3em 3px 4px;
  color: #414042 !important;
  text-shadow: 0px 1px 1px white;
  font-size: 22px;
  font-weight: bolder;
  border-bottom: 1px solid #d1d3d4;
}
.main .content .section h4, .main .content .main h4 {
  width: 626px;
  margin: 15px 0 0 0;
  padding: 0 0 0 4px;
  color: #58595b;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: justify;
  line-height: 1.2em;
}
.main .content .section p, .main .content .main p {
  width: 626px;
  margin: 4px 0 10px 0;
  padding: 0 0 0 4px;
  color: #6d6e71;
  font-size: 12px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.7em;
}
.main .content .section p:last-child, .main .content .main p:last-child {
  margin-bottom: 0;
}
.main .content .section p a, .main .content .main p a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted #d1d3d4;
}
.main .content .section p a:hover, .main .content .main p a:hover {
  color: #6d6e71;
  border-bottom: 1px solid transparent;
}
.main .content .section ul, .main .content .main ul {
  list-style: disc;
}
.main .content .section ul li, .main .content .main ul li {
  color: #6d6e71;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.7em;
}

.container-setup, .subnav, .text, .form, .button {
  position: relative;
  display: inline;
  float: left;
  clear: both;
  width: 300px;
  margin: 0 0 30px 0;
  background: url(/images/bg-trans1.png) repeat;
  border: 1px solid #bcbec0;
  z-index: 20;
}

.columns {
  width: 100%;
}
.columns .colL {
  position: relative;
  display: inline;
  float: left;
  clear: left;
  width: 298px;
  margin: 0 30px 0 0;
}
.columns .colR {
  position: relative;
  display: inline;
  float: left;
  clear: right;
  width: 298px;
  margin: 0;
}

.spacer {
  width: 626px;
  margin-bottom: 30px;
}

.no-image h1, .no-image p {
  width: 626px !important;
  margin-left: 0 !important;
}

p.page-top {
  text-align: right !important;
  padding-right: 15px !important;
}

p.hide {
  font-size: 11px !important;
}
