- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-3.jpg", :title => "#caption3"}/
      #caption1.nivo-html-caption
        .captionContainer
          %h1 Superior logistics
          %h3
            Grupo Porteo is on of the largest and most successful Third Party Logistics (3PL)
            %br
            companies privately held in Mexico.
      #caption2.nivo-html-caption
        .captionContainer
          %h1 Advanced software
          %h3
            Designed specifically for inventory control, our advanced computer software provides
            %br
            detailed information as requested by our clients.
      #caption3.nivo-html-caption
        .captionContainer
          %h1 Over 20 years of experience
          %h3
            Our regional specialization allows us to provide solid warehousing
            %br
            and distribution solutions. 

.body
  .center
    .content
      .textbox
        %h1
          %i Solid domestic transportation management capabilities for LTL, FTL.
        %p
          We have the most extensive national cross-dock infrastructure in Mexico. Our regional expertise allows
          %br
          our customers to succeed in launching new products and breaking into new markets. 
      .left
        %a.container{:href => "/#"}
          %h1 Supply Chain Services
          %h3 Porteo Group Logistics provides custom warehousing solutions designed to fit the needs of small to mid-sized businesses.
          %p.link Explore  >
      .middle
        %a.container{:href => "/#"}
          %h1
            Consultation
            %br
            Services
          %h3 Porteo Group Logistics delivers everything you need for conveniently and on-time shipping to Canada, USA, and Mexico.
          %p.link Discover  >
      .right
        %a.container{:href => "/#"}
          %h1
            Continuous
            %br
            Growth
          %h3 Grupo Porteo is making a strategic move towards Houston, TX establishing its first U.S. subsidiary.
          %p.link Learn More  >
