- @title = " | About"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-about.jpg"}



.body
  .center
    .content
      #two.sidebar.right
        .text
          %h1 Overview
          %p
            %b Year Founded:
            %br
            1991
          %p
            %b Corporate Headquarters:
            %br
            Monterrey, Nuevo Leon (Mexico)
          %p
            %b Ownership:
            %br
            Privately Held Company
          %p
            %b Number of Employees:
            %br
            409
          %p
            %b Distribution Centers:
            %br
            Mexico Operations / 21 (nationwide)
            %br
            US Operations / 1 (Houston, TX)
          %p
            %b Total Warehousing Space:
            %br
            2,722,141 square feet 
      

      #two.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 About Us
            %p Porteo Group Logistics is a Third Party Logistics (3PL) provider and a subsidiary of Grupo Porteo Logistics, one of the top 3PL operators in Mexico. Grupo Porteo was formed 20 years ago from the merger of four companies located in Monterrey, Mexico City, Guadalajara, Coatzacoalcos and Merida. It is the only logistics company in Mexico with nationwide operational coverage and nationwide consolidated IT solutions.
            %p Thanks to its continuous growth and to the Supply Chain Trends, Grupo Porteo made its strategic move towards Houston, TX establishing its first U.S. subsidiary.
            %p At Porteo Group Logistics, our commitment is to offer our clients creative logistics solutions in Mexico and in the United States.
            %p
              %ul
                %li Tailoring warehousing and distribution
                %li Reducing costs in every step of the process 
                %li Door-to-door services with no intermediaries
                %li Offering the latest information technology 
            %p Our 21 distribution centers in Mexico and our warehouse operations in Houston, hold a powerful geographic advantage for companies looking to quickly distribute their goods. We set ourselves apart from the competition by offering more flexibility and efficiency while focusing on creating customized solutions for our customers.

          .section.no-image
            %h1 Distribution Network
            %p
              Click the map to launch in
              %a{:href => "http://maps.google.com/maps/ms?msid=209227606228448613020.0004b373fd2eb57830259&msa=0&ll=25.005973,-103.139648&spn=13.891334,18.522949", :target => "_blank"} Google Maps
            %p
              %a{:href => "http://maps.google.com/maps/ms?msid=209227606228448613020.0004b373fd2eb57830259&msa=0&ll=25.005973,-103.139648&spn=13.891334,18.522949", :target => "_blank"}
                %img{:src => "/images/locations-sm.jpg"}

          .spacer

