- @title = " | Supply Chain Services"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-services.jpg"}



.body
  .center
    .content
      .sidebar.right
        .subnav
          %h1 Service Types
          .link
            %h5 
            %p
              %a{:href => "#overview"} Overview
          .link
            %h5 
            %p
              %a{:href => "#dt"} Distribution &amp; Transportation
          .link
            %h5 
            %p
              %a{:href => "#value"} Value-added
          .link
            %h5 
            %p
              %a{:href => "#backend"} Back-end
                

      .main
        .content
          .section.no-image
            %h1 Supply Chain Services
            
            %a{:name => "overview"}
            .spacer
            %h4
              Overview
            %p
              %ul
                %li Warehousing / Distribution
                %li Web-based Inventory 
                %li Tracking
                %li Climate-Controlled Facility 
                %li De-Consolidation
                %li Transloading
                %li Storage and Handling
                %li Pick / Pack
                %li Storage Floor and Rack
                %li Custom Order Packing
                %li Clerical Support
            %p Porteo Group Logistics provides custom warehousing solutions designed to fit the needs of small to mid-sized businesses. Our advanced computer software e-Sipo, is designed specifically for inventory control and to provide detailed information as requested by our clients. 
            %p Based upon integrity, team work, and quality in our logistical expertise, we provide reliable, customer oriented, and flexible warehousing solutions. We maintain greater negotiating leverage with carriers than individual shippers and significant, measurable administrative savings based on our vast expertise.
            %p Porteo Group Logistics offers an integrated solution and various value-added services in one single source approach.

            %a{:name => "dt"}
            .spacer
            %h4
              Distribution &amp; Transportation
            %p
              %ul
                %li LTL / FTL
                %li Consolidation
                %li Shipping Services: USPS, FedEx, DHL, UPS
                %li Retail Store Deliveries

            %p Porteo Group Logistics provides one source solution covering your transportation requirements. We deliver everything you need for conveniently and on-time shipping to Canada, USA and Mexico.
            %p Our services also include a wide range of solutions if you required LTL, FTL or special logistic projects.
            %p Porteo Group Logistics provides service that frees you from freight shipping company paperwork and details. You don't have to worry about freight classes, tariffs or after-delivery charges.
            %p Porteo Group Logistics service is designed to analyze, consolidate and optimize transportation data for our clients.
            %p We combine the strength and flexibility of the 3PL model with strategic planning evaluation based on our vast experience of more than 20 years in the logistics field.

            %a{:name => "value"}
            .spacer
            %h4
              Value-added
            %p 
              %ul
                %li Palletizing
                %li Labeling – Retagging
                %li Kitting
                %li Shrink-Wrapping
                %li Custom Order Packing
                %li Inspection Control
                %li Break Bulk 
                %li Light Assembly
                %li Customized Inventory
                %li Reports
            %p Inventory management solution maximizes utilization of space to deliver efficiency combined with ease of movement based on your shipping patterns. 
            %p
              %b Pick/Pack:
              Our supply-chain management experts offer complete pick/pack capability, getting incoming and outgoing shipments assembled and in process in the least amount of time. 
            %p
              %b Palletizing:
              This service ensures that your product is stored and moved safely within the warehouse and beyond. 
            %p
              %b Order configuration:
              This service minimizes waste and get your freight moved quickly when timing counts. 
            %p
              %b Repackaging:
              As freight moves in and out of your warehouse space, we can package and repackage it to suit your next freight move. 
            %p
              %b Kitting and assembly:
              As orders are placed, Porteo Group streamlined kitting and assembly process ensures that the right products are assembled for shipping.

            .spacer
            %h4
              Back-end
              %a{:name => "backend"}
            %p Porteo Group Logistics provides additional services oriented to facilitate certain processes of daily operation, such as:
            %ul
              %li Full time Office
              %li Conference Room
              %li Show Room
              %li 24/7 Voice Mail
              %li Dedicated Phone Number
              %li Fax Number
              %li Broadband Internet
              %li Coffee Service
              %li Parking Lot

          .spacer

